/*
 * Base structure
 */

/*force vertical bar all times*/
body {
		/*scrollbar shows all the time*/
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    font-weight:bold;
}
.navbar-brand {
    font-family: 'Roboto Mono', monospace;
}

.fixed-bottom {
    background: #f5f5f5;
}

/*common*/
.btn-modal-launcher {
	cursor: pointer;
}



